/*
#navbar-edit {
    background: linear-gradient(to right, #00b7ff, #FFF);
    box-shadow: 0 0 8px #808080;
}
*/

footer{
    background: linear-gradient(to right, #FFF, #00b7ff);
    text-align: center;
    box-shadow: 0 0 8px #808080;
}


.bg-light-override {
    background-color: transparent!important;
}