#study-body {

    margin-top: 50px;
}

#aaa {
    padding: 1% 2%;
}

.section {
    padding: 1rem 1rem;
    border-left: 5px solid #000;
    background: #f4f4f4;
}

#table-of-contents {
    padding: 1%;
}
